<footer class="footer" style="background-color:#c2c2c2;">
  <div class="container" style="margin:0 auto;">
    <div class="row">
      <div class="span12">
        <h4>Randomizing lunch dates since 2012</h4>
      </div>
    </div>
  </div>
</footer>
